body {
  font-size: 1.1em;
}

img {
  max-height: 525px;
}

strong {
  color: #23373B;
  font-weight: 500;
}

.remark-slide-content {
  font-size: 23px;
 /* border-top: 80px solid #005ce6; */
  border-image:url("portada3.png") 30 30 repeat;
}


.inverse {
  background-color: #005ce6;  
  border-top: none;
  text-shadow: none;
  background: url("portada3.png");
}

.inverse h1{
  color: #F7F8FA;
  font-size: 300%;
}


.title-slide {
	/*background: url(images/hex-ggplot2.png) right bottom no-repeat, url(images/rladies_bio.png) right top no-repeat;*/
  background-size: 300px 100px;
  background-color:  #cce6ff;
	border-top: none;
	background-position: center;
	background: url("portada3.png");
}

.title-slide h1 {
  color: #F7F8FA;
  font-size: 200%;

}

.title-slide h2 {
  color: #F7F8FA;
}

.title-slide h3 {
  color: #F7F8FA;
}

.left-column2 {
  width: 50%;
  float: left;
  padding-top: 1em;
  text-align: center;
}
.right-column2 {
  width: 50%;
  float: right;
  padding-top: 1em;
  text-align: center;
}


.left-column3 {
  width: 70%;
  float: left;
  padding-top: 1em;
  text-align: left;
}
.right-column3 {
  width: 30%;
  float: right;
  padding-top: 1em;
  text-align: center;
}


.left-column4 {
  width: 50%;
  float: left;
  padding-top: 1em;
  text-align: left;
}
.right-column4 {
  width: 50%;
  float: right;
  padding-top: 1em;
  text-align: center;
}


.left-column5 {
  width: 50%;
  float: left;
  padding-top: 1em;
  text-align: left;
}
.right-column5 {
  width: 40%;
  float: right;
  padding-top: 1em;
  text-align: center;
}

.left-column6 {
  width: 60%;
  float: left;
  padding-top: 1em;
  text-align: left;
}
.right-column6 {
  width: 40%;
  float: right;
  padding-top: 1em;
  text-align: center;
}

.left-column7 {
  width: 40%;
  float: left;
  padding-top: 1em;
  text-align: left;
}
.right-column7 {
  width: 60%;
  float: right;
  padding-top: 1em;
  text-align: center;
}

.left-column8 {
  width: 50%;
  float: left;
  padding-top: 1em;
  text-align: left;
}
.right-column8 {
  width: 50%;
  float: right;
  padding-top: 1em;
  text-align: left;
}


.footnote {
    position: absolute;
    bottom: 1em;
    padding-right: 4em;
    font-size: 70%;
}




.remark-code {
  font-size: 0.9em;
}

.left-column h3 {
    line-height: 1;
}

.left-column h3:last-of-type{
  color: #000;
}

.right-column {
  padding-top: 0;
}


.hl {
  /* color: #d16666;
  color: #ff3e41; */
  color: #08289f;
}

.hlb {
  color:  #08289f;
  font-weight: bold;
}

.hlbred {
  color:  #700000;
  font-weight: bold;
}

.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 60%;
  float: right;
  /* border-left: solid 1px #272822; */
  padding-left: 1%;
}

.huge {
  font-size: 2em;
}


.fullscreen {
  background-color:  #6699ff;
  border-top: none;
  background-position: center;
  background-size: cover;
}

.fullscreen .remark-slide-number {
  display: none;
}

.inverse .remark-slide-number {
  display: none;
}

.text-white {
  color: #FFF;
}

.text-black {
  color: #000;
}

.img-right{
  height: 300px;
  width: 300px;
  top: 34%;
  left: 65%;
  position: absolute;
}


.plot-callout {
  height: 300px;
  width: 600px;
  bottom: 10%;
  right: 5%;
  position: absolute;
  padding: 0px;
}

.plot-callout img {
  width: 100%;
  border: 4px solid #23373B;
}

.top-right {
  top: 10%;
  right: 5%;
}

.important-message {
   font-weight: bold;
}

.math {
  font-size: large;
}


a{
  color: white;
}

